{% extends 'base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block body%}
    <img class="images-three" src="static/css/img/IMG-9d103ca70cc0d0dfeb3be4224d0992ff-V.jpg" alt="FF" >
    <img class="images-four"src="static/css/img/IMG-23f49c442c8414d538747995169d8bf7-V.jpg" alt="FF">
       <div class="container" >
          <h1 class="card-title">Cтоимость раcсчитывается за 1 час работы</h1>
           <br>
           <br>
           <br>
       </div>
    <br>
    <br>
{% endblock %}