{% extends 'base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block body%}
       <img class="images-seven" src="static/css/img/IMG-269ee12c534430c1f64f7e63340a34ba-V.jpg" alt="FF">
       <img class="images-eight" src="static/css/img/IMG-1eb3553f1f10869d4043e80bd2a6c25f-V.jpg" alt="FF">
       <img class="images-ten" src="static/css/img/IMG-37ec426f9879145630af863325d03d4f-V.jpg" alt="FF">
       <img class="images-eleven" src="static/css/img/IMG-bf55dce4b1295c51aebf85d53c9703d9-V.jpg" alt="FF">
       <img class="images-nine" src="static/css/img/IMG-555d116352834d727255100093fc7cdd-V.jpg" alt="FF">
      <div class="container" >
          <h1 class="card-title">Стоимость за 1 м.кв.
              <span>договорная</span></h1>
      </div>
 <br>
 <br>


{% endblock %}