{% extends 'base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block body%}
    <img class="images" src="static/css/img/IMG-e46a79076dc322497f8d06f7d0738cce-V.jpg" alt="FF" >
    <img class="images-one" src="static/css/img/IMG-eb39141685090c9749dc8e055922f344-V.jpg" alt="FF" >
    <img class="images-two" src="static/css/img/IMG-5f14ed2884e23e153664c5533d111be3-V.jpg" alt="FF">
    <div class="container" >
      <h1 class="card-title">Cтоимость рассчитывается за 1 час работы </h1>>
      <h1 class="card-title">Комплектность:<span>ковш, вилы, люлька</span></h1>
    </div>
    <br>
    <br>
<br>
    </div>
{% endblock %}