{% extends 'base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block body%}
      <img class="images-twelve"  src="static/css/img/IMG-5f14ed2884e23e153664c5533d111be3-V.jpg" alt="FF">
      <img class="images-thirteen" src="static/css/img/IMG-23f49c442c8414d538747995169d8bf7-V.jpg" alt="FF">
      <img class="images-fourteen" src="static/css/img/IMG-b1e7d0a5986c3024fc7ecad458715da5-V.jpg" alt="FF">
      <img class="images-fiveteen"src="static/css/img/IMG-1eb3553f1f10869d4043e80bd2a6c25f-V.jpg" alt="FF">
       <div class="container">
           <h1 class="card-title">Стоимость услуг:<span>уточняйте, пожалуйста, по телефону.</span></h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
           <br>
      </div>
</div>

{% endblock %}